<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script
			  src="https://code.jquery.com/jquery-3.1.1.js"
			  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			  crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="jumbotron text-center">
      Training in Gym
   </header>
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand home" href="">Training in Gym</a>
       </div>
       <ul class="nav navbar-nav">
         <li class="active"><a href="" class="home">Home</a></li>
         <li><a href="" class="exercise-list">List of exercises</a></li>
         <li><a href="" class="training-log">Training Log</a></li>
         <li><a href="" class="overview">Overview</a></li>
       </ul>
    </div>
   </nav>

   <div class="container-fluid">
     <div class="row">
       <nav class="col-sm-2 text-center">
         <div class="list-group">
           <a href="" class="list-group-item home">Home</a>
           <a href="" class="list-group-item exercise-list">List of exercises</a>
           <a href="" class="list-group-item training-log">Training log</a>
           <a href="" class="list-group-item overview">Overview</a>
           <a href="" class="list-group-item add-entry">Add an entry</a>
         </div>
       </nav>
       <section class="col-sm-10 text-left" id="contentArea">
        <p>It is a demo web site that demonstrates use of jQuery to create a single-page application (SPA) with the Spring backend. The SPA uses AJAX/JSON requests to query the database.</p>
        <p>Used technologies:</p>
        <ol>
        	<li>HTML/CSS/Bootstrap</li>
        	<li>jQuery 3</li>
        	<li>Spring Boot</li>
        	<li>JSON/REST</li>
        	<li>MySQL</li>
        	<li>Spring Data</li>
        </ol>
        <p>The source code is available at <a href='https://github.com/Eugnat/training-log.git'>here</a>. Create the database <i>training-day</i> in MySQL while using a local copy and use the relevant user name and password.</p>
       </section>
     </div>
   </div>
   <script th:src="@{/js/mylinks.js}"></script>
   

  </body>
</html>